{% extends 'adolescentes/base.html' %}
{% block content %}
<h2>Adicionar Pequeno Grupo</h2>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="nome" class="form-label">Líderes:</label>
        <input type="text" name="nome" id="nome" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="genero" class="form-label">Sexo:</label>
        <select name="genero" id="genero" class="form-control" required>
            <option value="" disabled selected>Selecione o sexo</option>
            <option value="M">Masculino</option>
            <option value="F">Feminino</option>
        </select>
    </div>        
    <button type="submit" class="btn btn-primary">Criar PG</button>
</form>
{% endblock %}