{% extends 'adolescentes/base.html' %}
{% block content %}
<h2 class="mb-3">Pequenos Grupos</h2>
<a href="{% url 'adicionar_pg' %}" class="btn btn-success mb-4">Adicionar PG</a>
<ul class="list-group mb-5">
    {% for pg in pgs %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ pg.nome }}
        <a href="{% url 'detalhes_pg' pg.id %}" class="btn btn-sm btn-primary">Ver integrantes</a>
    </li>
    {% empty %}
    <li class="list-group-item">Nenhum pequeno grupo cadastrado.</li>
    {% endfor %}
</ul>
{% endblock %}